docs/n8n-email-workflow.json
{
  "name": "MiD Email Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mid-email",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mid-email-webhook"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "user_invitation",
              "outputKey": "user_invitation"
            },
            {
              "value": "welcome",
              "outputKey": "welcome"
            },
            {
              "value": "password_reset",
              "outputKey": "password_reset"
            },
            {
              "value": "contract_notification",
              "outputKey": "contract_notification"
            },
            {
              "value": "weekly_report",
              "outputKey": "weekly_report"
            },
            {
              "value": "custom",
              "outputKey": "custom"
            }
          ]
        },
        "dataPropertyName": "={{ $json.email_type }}"
      },
      "id": "switch-email-type",
      "name": "Route by Email Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"You've been invited to join {{ $json.data.company_name }} on MiD\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>You're Invited</title></head><body style='margin: 0; padding: 0; font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; background-color: #f8fafc;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='background-color: #f8fafc;'><tr><td align='center' style='padding: 40px 20px;'><table role='presentation' width='600' cellspacing='0' cellpadding='0' style='background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(3,7,18,0.1), 0 2px 4px -2px rgba(3,7,18,0.1);'><tr><td style='background-color: #1e293b; padding: 30px 40px; border-radius: 8px 8px 0 0;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0'><tr><td><img src='https://marketersindemand.com/wp-content/uploads/2025/11/mid-logo-scaled.png' alt='MiD - Marketers in Demand' style='height: 40px; width: auto;' /></td></tr></table></td></tr><tr><td style='padding: 40px;'><h1 style='margin: 0 0 20px 0; font-size: 24px; font-weight: 600; color: #030712;'>You're Invited!</h1><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>Hi {{ $json.data.full_name }},</p><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>You've been invited to join <strong>{{ $json.data.company_name }}</strong> on the MiD platform as a <strong>{{ $json.data.role }}</strong>.</p><p style='margin: 0 0 30px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>Click the button below to accept your invitation and set up your account.</p><table role='presentation' cellspacing='0' cellpadding='0'><tr><td style='border-radius: 6px; background-color: #7C3AED;'><a href='{{ $json.data.login_url }}' style='display: inline-block; padding: 14px 32px; font-size: 16px; font-weight: 600; color: #ffffff; text-decoration: none;'>Accept Invitation</a></td></tr></table></td></tr><tr><td style='padding: 30px 40px; background-color: #f8fafc; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>If you didn't expect this invitation, you can safely ignore this email.</p></td></tr></table><p style='margin: 30px 0 0 0; font-size: 12px; color: #9ca3af;'>&copy; 2026 Marketers in Demand. All rights reserved.</p></td></tr></table></body></html>\",\n  \"text\": \"Hi {{ $json.data.full_name }},\\n\\nYou've been invited to join {{ $json.data.company_name }} on the MiD platform as a {{ $json.data.role }}.\\n\\nClick here to accept your invitation: {{ $json.data.login_url }}\\n\\nIf you didn't expect this invitation, you can safely ignore this email.\\n\\n© 2026 Marketers in Demand\"\n}",
        "options": {}
      },
      "id": "template-invitation",
      "name": "Invitation Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 100]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"Welcome to MiD, {{ $json.data.full_name }}!\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Welcome to MiD</title></head><body style='margin: 0; padding: 0; font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; background-color: #f8fafc;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='background-color: #f8fafc;'><tr><td align='center' style='padding: 40px 20px;'><table role='presentation' width='600' cellspacing='0' cellpadding='0' style='background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(3,7,18,0.1), 0 2px 4px -2px rgba(3,7,18,0.1);'><tr><td style='background-color: #1e293b; padding: 30px 40px; border-radius: 8px 8px 0 0;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0'><tr><td><img src='https://marketersindemand.com/wp-content/uploads/2025/11/mid-logo-scaled.png' alt='MiD - Marketers in Demand' style='height: 40px; width: auto;' /></td></tr></table></td></tr><tr><td style='padding: 40px;'><h1 style='margin: 0 0 20px 0; font-size: 24px; font-weight: 600; color: #030712;'>Welcome to MiD!</h1><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>Hi {{ $json.data.full_name }},</p><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>Welcome aboard! Your account has been successfully created and you're all set to get started.</p><p style='margin: 0 0 30px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>Click the button below to log in and explore the platform.</p><table role='presentation' cellspacing='0' cellpadding='0'><tr><td style='border-radius: 6px; background-color: #7C3AED;'><a href='{{ $json.data.login_url }}' style='display: inline-block; padding: 14px 32px; font-size: 16px; font-weight: 600; color: #ffffff; text-decoration: none;'>Go to Dashboard</a></td></tr></table></td></tr><tr><td style='padding: 30px 40px; background-color: #f8fafc; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>Need help getting started? Reply to this email and we'll be happy to assist.</p></td></tr></table><p style='margin: 30px 0 0 0; font-size: 12px; color: #9ca3af;'>&copy; 2026 Marketers in Demand. All rights reserved.</p></td></tr></table></body></html>\",\n  \"text\": \"Hi {{ $json.data.full_name }},\\n\\nWelcome aboard! Your account has been successfully created and you're all set to get started.\\n\\nClick here to log in: {{ $json.data.login_url }}\\n\\nNeed help getting started? Reply to this email and we'll be happy to assist.\\n\\n© 2026 Marketers in Demand\"\n}",
        "options": {}
      },
      "id": "template-welcome",
      "name": "Welcome Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 250]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"Reset your MiD password\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Reset Password</title></head><body style='margin: 0; padding: 0; font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; background-color: #f8fafc;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='background-color: #f8fafc;'><tr><td align='center' style='padding: 40px 20px;'><table role='presentation' width='600' cellspacing='0' cellpadding='0' style='background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(3,7,18,0.1), 0 2px 4px -2px rgba(3,7,18,0.1);'><tr><td style='background-color: #1e293b; padding: 30px 40px; border-radius: 8px 8px 0 0;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0'><tr><td><img src='https://marketersindemand.com/wp-content/uploads/2025/11/mid-logo-scaled.png' alt='MiD - Marketers in Demand' style='height: 40px; width: auto;' /></td></tr></table></td></tr><tr><td style='padding: 40px;'><h1 style='margin: 0 0 20px 0; font-size: 24px; font-weight: 600; color: #030712;'>Reset Your Password</h1><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>We received a request to reset your password. Click the button below to create a new password.</p><table role='presentation' cellspacing='0' cellpadding='0'><tr><td style='border-radius: 6px; background-color: #7C3AED;'><a href='{{ $json.data.reset_url }}' style='display: inline-block; padding: 14px 32px; font-size: 16px; font-weight: 600; color: #ffffff; text-decoration: none;'>Reset Password</a></td></tr></table><p style='margin: 30px 0 0 0; font-size: 14px; color: #6b7280;'>This link will expire in 24 hours. If you didn't request a password reset, you can safely ignore this email.</p></td></tr><tr><td style='padding: 30px 40px; background-color: #f8fafc; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>For security, this request was received from {{ $json.source }}.</p></td></tr></table><p style='margin: 30px 0 0 0; font-size: 12px; color: #9ca3af;'>&copy; 2026 Marketers in Demand. All rights reserved.</p></td></tr></table></body></html>\",\n  \"text\": \"Reset Your Password\\n\\nWe received a request to reset your password. Click the link below to create a new password:\\n\\n{{ $json.data.reset_url }}\\n\\nThis link will expire in 24 hours. If you didn't request a password reset, you can safely ignore this email.\\n\\n© 2026 Marketers in Demand\"\n}",
        "options": {}
      },
      "id": "template-password-reset",
      "name": "Password Reset Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 400]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"Contract Update: {{ $json.data.contract_name }}\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Contract Notification</title></head><body style='margin: 0; padding: 0; font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; background-color: #f8fafc;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='background-color: #f8fafc;'><tr><td align='center' style='padding: 40px 20px;'><table role='presentation' width='600' cellspacing='0' cellpadding='0' style='background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(3,7,18,0.1), 0 2px 4px -2px rgba(3,7,18,0.1);'><tr><td style='background-color: #1e293b; padding: 30px 40px; border-radius: 8px 8px 0 0;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0'><tr><td><img src='https://marketersindemand.com/wp-content/uploads/2025/11/mid-logo-scaled.png' alt='MiD - Marketers in Demand' style='height: 40px; width: auto;' /></td></tr></table></td></tr><tr><td style='padding: 40px;'><h1 style='margin: 0 0 20px 0; font-size: 24px; font-weight: 600; color: #030712;'>Contract Update</h1><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>There's an update to contract <strong>{{ $json.data.contract_name }}</strong>.</p><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='margin: 20px 0; background-color: #f8fafc; border-radius: 6px; border-left: 4px solid #7C3AED;'><tr><td style='padding: 20px;'><p style='margin: 0 0 8px 0; font-size: 14px; color: #6b7280;'>Status</p><p style='margin: 0; font-size: 18px; font-weight: 600; color: #030712;'>{{ $json.data.status }}</p></td></tr></table><table role='presentation' cellspacing='0' cellpadding='0'><tr><td style='border-radius: 6px; background-color: #7C3AED;'><a href='{{ $json.data.action_url }}' style='display: inline-block; padding: 14px 32px; font-size: 16px; font-weight: 600; color: #ffffff; text-decoration: none;'>View Contract</a></td></tr></table></td></tr><tr><td style='padding: 30px 40px; background-color: #f8fafc; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>You're receiving this because you're associated with this contract.</p></td></tr></table><p style='margin: 30px 0 0 0; font-size: 12px; color: #9ca3af;'>&copy; 2026 Marketers in Demand. All rights reserved.</p></td></tr></table></body></html>\",\n  \"text\": \"Contract Update\\n\\nThere's an update to contract {{ $json.data.contract_name }}.\\n\\nStatus: {{ $json.data.status }}\\n\\nView contract: {{ $json.data.action_url }}\\n\\n© 2026 Marketers in Demand\"\n}",
        "options": {}
      },
      "id": "template-contract",
      "name": "Contract Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 550]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"Your Weekly MiD Report\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Weekly Report</title></head><body style='margin: 0; padding: 0; font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; background-color: #f8fafc;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='background-color: #f8fafc;'><tr><td align='center' style='padding: 40px 20px;'><table role='presentation' width='600' cellspacing='0' cellpadding='0' style='background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(3,7,18,0.1), 0 2px 4px -2px rgba(3,7,18,0.1);'><tr><td style='background-color: #1e293b; padding: 30px 40px; border-radius: 8px 8px 0 0;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0'><tr><td><img src='https://marketersindemand.com/wp-content/uploads/2025/11/mid-logo-scaled.png' alt='MiD - Marketers in Demand' style='height: 40px; width: auto;' /></td></tr></table></td></tr><tr><td style='padding: 40px;'><h1 style='margin: 0 0 20px 0; font-size: 24px; font-weight: 600; color: #030712;'>Weekly Report</h1><p style='margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>Here's your summary for the week.</p><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='margin: 20px 0; background-color: #f8fafc; border-radius: 6px; border-left: 4px solid #7C3AED;'><tr><td style='padding: 20px;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>Report data will be populated here based on your weekly_report data payload.</p></td></tr></table><table role='presentation' cellspacing='0' cellpadding='0'><tr><td style='border-radius: 6px; background-color: #7C3AED;'><a href='https://app.marketersindemand.com/dashboard' style='display: inline-block; padding: 14px 32px; font-size: 16px; font-weight: 600; color: #ffffff; text-decoration: none;'>View Dashboard</a></td></tr></table></td></tr><tr><td style='padding: 30px 40px; background-color: #f8fafc; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>This is an automated weekly summary.</p></td></tr></table><p style='margin: 30px 0 0 0; font-size: 12px; color: #9ca3af;'>&copy; 2026 Marketers in Demand. All rights reserved.</p></td></tr></table></body></html>\",\n  \"text\": \"Weekly Report\\n\\nHere's your summary for the week.\\n\\n[Report data will be populated here]\\n\\nView Dashboard: https://app.marketersindemand.com/dashboard\\n\\n© 2026 Marketers in Demand\"\n}",
        "options": {}
      },
      "id": "template-weekly",
      "name": "Weekly Report Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 700]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"{{ $json.subject || 'Message from MiD' }}\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>{{ $json.subject || 'Message from MiD' }}</title></head><body style='margin: 0; padding: 0; font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; background-color: #f8fafc;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0' style='background-color: #f8fafc;'><tr><td align='center' style='padding: 40px 20px;'><table role='presentation' width='600' cellspacing='0' cellpadding='0' style='background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(3,7,18,0.1), 0 2px 4px -2px rgba(3,7,18,0.1);'><tr><td style='background-color: #1e293b; padding: 30px 40px; border-radius: 8px 8px 0 0;'><table role='presentation' width='100%' cellspacing='0' cellpadding='0'><tr><td><img src='https://marketersindemand.com/wp-content/uploads/2025/11/mid-logo-scaled.png' alt='MiD - Marketers in Demand' style='height: 40px; width: auto;' /></td></tr></table></td></tr><tr><td style='padding: 40px;'><p style='margin: 0; font-size: 16px; line-height: 1.6; color: #4b5563;'>{{ $json.data.message || $json.data.body || 'No message content provided.' }}</p></td></tr><tr><td style='padding: 30px 40px; background-color: #f8fafc; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 14px; color: #6b7280;'>This message was sent from the MiD platform.</p></td></tr></table><p style='margin: 30px 0 0 0; font-size: 12px; color: #9ca3af;'>&copy; 2026 Marketers in Demand. All rights reserved.</p></td></tr></table></body></html>\",\n  \"text\": \"{{ $json.data.message || $json.data.body || 'No message content provided.' }}\\n\\n© 2026 Marketers in Demand\"\n}",
        "options": {}
      },
      "id": "template-custom",
      "name": "Custom Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 850]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to.join(', ') }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "production@marketersindemand.com",
          "senderName": "MiD Platform"
        }
      },
      "id": "gmail-send",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail - production@marketersindemand.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, email_type: $('Email Webhook').item.json.email_type, recipients: $('Email Webhook').item.json.to.length || 1 }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [
        [
          {
            "node": "Route by Email Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Email Type": {
      "main": [
        [
          {
            "node": "Invitation Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Welcome Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Password Reset Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contract Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weekly Report Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Custom Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invitation Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Reset Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
